
.pirincbaslık{
	text-align:center;
     }
 .pirincpilav{
	 margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px; 
     }
.pilavfoto{
	text-align:center;
    }
.pilavtarif{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
   } 
.cobansalata{
	text-align:center;
   }
   .cobansalatası{
	 margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;  
   }
   .salatafoto{
	   text-align:center;
   }
   .salatatarif{
	    margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
   }
   .pacangabaslık{
	   text-align:center;
   }
   .pacangaböregi{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px; 
   }
   .pacangafoto{
	   text-align:center;
   }
   .pacangatarif{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px; 
   }
   .koftebaslık{
	   text-align:center;
   }
    .koftemalzeme{
    margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px; 
	}
   .koftefoto{
	   text-align:center;
   }
   .koftetarif{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px; 
   }
   .sufle{
	   text-align:center;
   }
   .suflemalzeme{
	 margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
   }
    .suflefoto{
		text-align:center;
	}
	.sufletarif{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	}
	.ayran{
		text-align:center;
	}
	.ayranmalzeme{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	}
	.ayranfoto{
		text-align:center;
	}
	.ayrantarif{
	margin-top: 20px;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 20px;
	background-color: yellow;
			
    border-style: solid;
	border-width: 20px;
				
	width: 500px;
				
    padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	}
	.alt{
		color:red;
	}